// Цвета
$color-font-main: #333333;
$color-font-second: #aaaaaa;
$color-font-hover: #125bae;
$color-font-bg: #e2efff;
$color-font-history: #5a0488;
$color-brand: #7397f5;
$color-border: #d5d5d5;
$color-icons: #cbcbcb;
$color-scroll-bar: #f2f2f2;
$color-white: #ffffff;

// Размеры
// $mobile-widths-only: "max-width: 767px";
// $tablet-widths: "min-width: 768px";
// $tablet-widths-only: "max-width: 1199px";
// $desktop-widths: "min-width: 1200px";
